* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Heebo", sans-serif;
  letter-spacing: 0.2em;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.wrapper {
  width: 100%;
  margin: 100px auto;
}
.flex {
  display: flex;
}
@media screen and (max-width: 900px) {
  .flex {
    flex-direction: column;
  }
}

.left {
  width: 35%;
  position: relative;
}
@media screen and (max-width: 900px) {
  .left {
    width: 100%;
    padding: 0 16px;
    margin-bottom: 24px;
  }
}
.left::before {
  content: "";
  width: 163px;
  height: 100%;
  background: #fff;
  position: absolute;
  right: -81px;
  transform: skewX(-18deg);
}
@media screen and (max-width: 900px) {
  .left::before {
    content: none;
  }
}

.left .text-area {
  position: absolute;
  top: 60px;
  left: 60px;
}
@media screen and (max-width: 900px) {
  .left .text-area {
    position: static;
  }
}

.left .site-title {
  line-height: 1;
  margin-bottom: 32px;
}

.left .site-title .en {
  font-size: 4.375rem;
}
@media screen and (max-width: 900px) {
  .left .site-title .en {
    display: block;
    font-size: 2.25rem;
    margin-bottom: 16px;
  }
}

.left .site-title .ja {
  display: block;
  font-size: 0.875rem;
}

.left p {
  font-size: 0.875rem;
}
@media screen and (max-width: 900px) {
  .pc {
    display: none;
  }
}

.right {
  width: 65%;
}
@media screen and (max-width: 900px) {
  .right {
    width: 100%;
  }
}

.right img {
  width: 100%;
  height: 500px;
  vertical-align: bottom;
  object-fit: cover;
}
