* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #2b2a27;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 960px;
  padding: 0 4%;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .wrapper {
    max-width: 960px;
    padding: 0 4%;
    margin: 0 auto;
  }
}

.header {
  height: 270px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  .header {
    max-width: 100%;
    height: auto;
    flex-direction: column;
  }

  .navigation {
    gap: 0 16px;
  }
}

.navigation {
  display: flex;
  align-items: center;
  gap: 0 32px;
}

.inst {
  width: 20px;
}

.hero,
.about,
.works,
.news,
.contact {
  margin-bottom: 100px;
}

.hero .hero-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.section-title {
  text-align: center;
  padding-bottom: 60px;
}

.name,
.address {
  margin-bottom: 30px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px 0;
}

.grid .grid-item {
  width: 31.5%;
}

@media screen and (max-width: 600px) {
  .grid .grid-item {
    width: 100%;
  }
}

.news-list {
  display: flex;
  flex-wrap: wrap;
  border-top: solid 1px #888;
}

.news-list dt {
  width: 20%;
  padding: 14px 0;
  border-bottom: solid 1px #888;
}

.news-list dd {
  width: 80%;
  padding: 14px 0;
  border-bottom: solid 1px #888;
}
@media screen and (max-width: 600px) {
  .news-list dt {
    width: 100%;
    padding: 7px 0;
    border-bottom: none;
  }

  .news-list dd {
    width: 100%;
    padding: 1px 0;
  }
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
}

.contact-form dt {
  width: 20%;
}

.contact-form dd {
  width: 80%;
}
@media screen and (max-width: 600px) {
  .contact-form dt {
    width: 100%;
  }

  .contact-form dd {
    width: 100%;
  }
}

.name,
.email,
.message {
  width: 100%;
  padding: 10px;
}

.message {
  height: 10rem;
}

.button {
  margin-top: 30px;
  text-align: center;
}

.button .btn {
  width: 200px;
  background-color: #24292e;
  color: #fff;
  padding: 15px 0;
  border: solid 1px #24292e;
}

.button .btn:hover {
  background-color: #fff;
  color: #24292e;
}

.footer {
  background-color: #24292e;
  color: #fff;
  font-size: 0.5rem;
  padding: 10px 20px;
  text-align: center;
}
