* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

ul {
  list-style: none;
}

.wrapper {
  max-width: 1160px;
  padding: 0 20px;
  margin: 80px auto;
}

.site-title {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 80px;
}

.flex {
  display: flex;
  gap: 0 16px;
}
@media screen and (max-width: 900px) {
  .flex {
    flex-direction: column;
    gap: 8px 0;
  }
}

.left {
  width: 40%;
}
@media screen and (max-width: 900px) {
  .left {
    width: 100%;
  }
}

.right {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .right {
    width: 100%;
    gap: 8px 0;
  }
}

.right li {
  width: 32%;
}
@media screen and (max-width: 900px) {
  .right li {
    width: 48.5%;
  }
}
