* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", "Arial", "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  font-size: 0.9rem;
  line-height: 1.7;
}

ul {
  list-style: none;
}

nav li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
  filter: drop-shadow(1px 1px 2px #121212);
}
nav li a:hover {
  color: #e03131;
}

img {
  max-width: 100%;
}

.fixed-bg {
  height: 300px;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 767px) {
  .fixed-bg {
    height: 94px;
    background-attachment: scroll;
  }
}

.wrapper {
  max-width: 1000px;
  padding: 0 16px;
  margin: 0 auto;
}

.flex {
  display: flex;
}
@media screen and (max-width: 767px) {
  .flex {
    flex-direction: column;
  }
}

.justify-between {
  justify-content: space-between;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: url(../img/mainvisual.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 20px 40px;
  position: relative;
  margin-bottom: 24px;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  gap: 0 24px;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-title {
  color: #fff;
  font-size: 6rem;
}
@media screen and (max-width: 767px) {
  .section-title {
    font-size: 2.5rem;
  }
}

.left,
.right {
  width: 48%;
}
@media screen and (max-width: 767px) {
  .left,
  .right {
    width: 100%;
  }
}

.menu {
  margin-bottom: 160px;
  text-align: center;
}

.menu .menu-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/menu.jpg);
}

.coffee__title,
.food__title,
.other__title {
  display: inline-block;
  font-size: 3rem;
  padding-top: 56px;
  border-bottom: solid 6px #e03131;
}
@media screen and (max-width: 767px) {
  .coffee__title,
  .food__title,
  .other__title {
    font-size: 1.25rem;
    padding-top: 24px;
  }
}

.coffee__list,
.food__list,
.other__list {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
}

.coffee__list dt,
.food__list dt,
.other__list dt {
  width: 88%;
  border-bottom: dotted 1px #000;
  margin-bottom: 16px;
}

.coffee__list dd,
.food__list dd,
.other__list dd {
  width: 12%;
  text-align: right;
  padding-top: 8px;
}

.about {
  margin-bottom: 160px;
  text-align: center;
}

.about .about-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/about.jpg);
}

.about__title {
  display: inline-block;
  font-size: 3rem;
  padding-top: 56px;
  border-bottom: solid 6px #e03131;
}
@media screen and (max-width: 767px) {
  .about__title {
    font-size: 1.25rem;
    padding-top: 24px;
  }
}

.about__text {
  margin-top: 64px;
  text-align: left;
  justify-content: space-between;
}

.about p {
  padding: 16px;
  margin-bottom: 24px;
}

.btn {
  width: 160px;
  height: 50px;
  line-height: 3.5;
  display: inline-block;
  color: #000;
  padding: 0;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

.btn span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

/*
  .btn::before 右の赤線
  .btn::after 下の赤線
  .btn span::before 左の赤線
  .btn span::after 上の赤線
  */
.btn::before,
.btn::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #e03131;
  transition: all 0.3s ease;
}

.btn span::before,
.btn span::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #e03131;
  transition: all 0.3s ease;
}

.btn::before,
.btn span::before {
  width: 2px;
  height: 50%;
}

.btn::after,
.btn span::after {
  width: 20%;
  height: 2px;
}

/*
  ホバー時の縦の動作
  右の赤線と左の赤線の高さを100%にする
  */
.btn:hover::before,
.btn span:hover::before {
  height: 100%;
}

/*
  ホバー時の横の動作
  下の赤線と上の赤線の横幅を100%にする
  */
.btn:hover::after,
.btn span:hover::after {
  width: 100%;
}

.location {
  margin-bottom: 160px;
}

.location .location-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/location.jpg);
}

.location .item-map {
  filter: grayscale(1);
  margin: 64px 0 24px 0;
}

.footer {
  text-align: center;
}
